html, body {
	font-family: "Segoe UI",Arial,sans-serif;
}

td, th {
	padding: 4px 40px 4px 4px;
}

input:read-only {
	background-color: #cccccc;
	border: 1px solid #aaaaaa;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #070;
	width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: #efe;
	font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	text-transform: uppercase;
}

li a:hover {
    background-color: #030;
}

div.post {
    margin-top: 12px;
    margin-bottom: 16px;
    border: 1px solid #cccccc;
    padding: 4px;
    border-radius: 8px;
}

div.post-title {
    font-size: 1.4em;
    font-weight: bold;
}

div.comments-list {
    margin: 8px;
    border: 1px solid #aaaaaa;
    padding: 4px;
    border-radius: 8px;
    background-color: #bbbbbb;
}

div.comment {
    margin: 4px 0;
    border: 1px solid #888888;
    border-radius: 8px;
    padding: 4px;
    background-color: #eeeeee;
}

div.comment-name {
    width: 100%;
    text-align: right;
    font-style: italic;
    font-size: 0.8em;
}